.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-nav .nav-item {
    margin-left: 10px;
}

.header-nav .nav-item:last-child {
    margin-left: auto;
}
