body {
    background-color: #f8f9fa;
}

.card {
    max-width: 600px;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card-title {
    text-align: center;
    font-weight: bold;
    font-size: 36px;
    margin-top: 30px;
    margin-bottom: 45px;
}

.form-group label {
    font-weight: bold;
    font-size: 20px;
}

.form-control {
    font-size: 18px;
    padding: 15px;
}

.btn-primary {
    width: 100%;
    font-size: 22px;
    padding: 15px;
    margin-top: 20px;
}

.form-group:not(:last-child) {
    margin-bottom: 30px;
}

.login-link {
    text-align: center;
    margin-top: 20px;
}

.rq{
    color: red;
}